In [6]:
import pandas as pd
import ast

In [ ]:
df = pd.read_json("sample.json")
df = pd.json_normalize(df.all_users)

            steam_id                  name game_played_app_id
0  76561198058174816                   boi               None
1  76561198079886715               kwangyy               None
2  76561198138611129              good boy               None
3  76561198152763352              fatrolls               None
4  76561198157969351                  Oynx               None
5  76561198158075658            babadio af               None
6  76561198315082125  Baba did the laundry               None